<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="img/logo.png" width="50" height="50"/>
    <!-- loader -->
    <link rel="stylesheet" type="text/css" href="css/preloader.css"/>

    <title>Smart Point</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-frontpage.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Sarabun&display=swap" rel="stylesheet">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
        html,body{
            font-family: 'Sarabun', sans-serif;
        }
        header {
            background-image: url("img/bener2.jpg");
            width: 100%;
            height: 500px;
        }
    </style>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">Smart Point</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">หน้าเเรก
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">เกี่ยวกับ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">บริการ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ติดต่อ</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a href="login.html" class="btn btn-outline-success" type="buton"><i class='fas fa-sign-in-alt'></i>  เข้าสู่ระบบ</a>
                </form>
            </div>
        </div>
    </nav>

    <br>
    <br>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-5">
                <h2>เเต้มอัจฉริยะ</h2>
                <hr>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เนื่องจากการซื้อน้ำจากร้านค้านั้น เช่นน้ำปั่น เเน่นอนที่จะต้องใส่เเก้วซึ่งเป็นเเก้วพลาสติก
                        เเล้วใช้ได้เเค่ครั้งเดียว เราจึงอยากพัฒนา Sub - Project ที่ชื่อ Smart Point
                        ขึ้นมาเพื่อช่วยลดปัญหาการใช้เเก้วมที่ร้านในมหาวิทยาลัย
                        การเเก้ปัญหาคือให้นำเเก้วมาเองเพื่อแลกเเต้มและแต้มสามารถไปแลกเป็นส่วนลดในการซื้อน้ำครั้งต่อไ
                        ปกับร้านที่ร่วมรายการอีกด้วย</p>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p> -->
                <a class="btn btn-primary btn-lg" href="#">จำนวนเเต้มสะสม &raquo;</a>
            </div>
            <div class="col-md-4 mb-5">
         <address>
            <center><img src="http://placehold.it/300x200" class="rounded-circle" alt="Cinque Terre" width="236" height="236"></center>
            <br>
            <ul class="list-group">
                    <li class="list-group-item active">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
            </ul>
        </address>
            </div>
        </div>
        <!-- /.row -->
    

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
</body>

</html>