<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" type="image/x-icon" href="img/logo.png" width="50" height="50"/>
    <!-- loader -->
    <link rel="stylesheet" type="text/css" href="css/preloader.css"/>

    <title>Smart Point</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/business-frontpage.css" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Sarabun&display=swap" rel="stylesheet">

    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <style>
        html,body{
            min-height: 75rem;
            padding-top: 1.5rem;
            font-family: 'Sarabun', sans-serif;
            background-image: url(img/bg.png);
            height: auto;
             /* Center and scale the image nicely */
            background-position: left bottom; 
            background-repeat: no-repeat;
            <!-- background-size: cover; -->
        }
        header {
            background-image: url("img/bener2.jpg");
            width: 100%;
            height: 500px;
        }
    </style>
</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <img src="logo.png" alt="smart point">
            <a class="navbar-brand" href="#">Smart Point</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">หน้าเเรก
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">เกี่ยวกับ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">บริการ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">ติดต่อ</a>
                    </li>
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <a href="login.html" class="btn btn-outline-success" type="buton"><i class='fas fa-sign-in-alt'></i>  เข้าสู่ระบบ</a>
                </form>
            </div>
        </div>
    </nav>
    <!-- class="bg-primary py-5 mb-5" -->
    <!-- Header -->
    <header>
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-lg-12">
                    <h1 class="display-4 text-white mt-5 mb-2"><b style="color: rgba(138, 243, 0, 0.856);">Welcom to</b> Smart Point</h1>
                    <hr width="600">
                    <!-- <p class="lead mb-5 text-white-50"></p> -->
                    <h2 class="text-white"> 
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        ระบบเเต้มอัจริยะ</h2>
                        <br>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 
                        <a class="btn btn-outline-warning" href="#">ดาวน์โหลดเเอพลิเคชั่น &raquo;</a>
                </div>
            </div>
        </div>
    </header>
    <br>
    <!-- Page Content -->
    <div class="container">
        <div class="row">
            <div class="col-md-8 mb-5">
                <h2>เเต้มอัจฉริยะ</h2>
                <hr>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;เนื่องจากการซื้อน้ำจากร้านค้านั้น เช่นน้ำปั่น เเน่นอนที่จะต้องใส่เเก้วซึ่งเป็นเเก้วพลาสติก
                        เเล้วใช้ได้เเค่ครั้งเดียว เราจึงอยากพัฒนา Sub - Project ที่ชื่อ Smart Point
                        ขึ้นมาเพื่อช่วยลดปัญหาการใช้เเก้วมที่ร้านในมหาวิทยาลัย
                        การเเก้ปัญหาคือให้นำเเก้วมาเองเพื่อแลกเเต้มและแต้มสามารถไปแลกเป็นส่วนลดในการซื้อน้ำครั้งต่อไ
                        ปกับร้านที่ร่วมรายการอีกด้วย</p>
                <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis optio neque consectetur consequatur magni in nisi, natus beatae quidem quam odit commodi ducimus totam eum, alias, adipisci nesciunt voluptate. Voluptatum.</p> -->
                <a class="btn btn-primary btn-lg" href="#">จำนวนเเต้มสะสม &raquo;</a>
            </div>
            <div class="col-md-4 mb-5">
                <h2>Mobile Application</h2>
                <hr>
         <address>
          <!-- <img class="card-img-top" src="img/mobile.png" alt="" width="50" height="600"> -->
          <strong>Cros patform : Mobile Application.</strong>
          <br>ที่สามารถติดตั้งได้ทั้งระบบ IOS และ Androind
          
        </address>
        <center>
            <address>
                <img src="img/playst.png" alt="Play store" width="90" height="50">          
                <img src="img/appst.png" alt="App store" width="120" height="70">
              </address>
        </center>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
                <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Pecone - oh Cafe</h4>
                                <p class="card-text"></p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-success">ดูข้อมูลร้าน &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Chanenyom Cafe</h4>
                                <p class="card-text"></p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-success">ดูข้อมูลร้าน &raquo;</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-5">
                        <div class="card h-100">
                            <img class="card-img-top" src="http://placehold.it/300x200" alt="">
                            <div class="card-body">
                                <h4 class="card-title">Amazing Cafe</h4>
                                <p class="card-text"></p>
                            </div>
                            <div class="card-footer">
                                <a href="#" class="btn btn-success">ดูข้อมูลร้าน &raquo;</a>
                            </div>
                        </div>
                    </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
            <p class="m-0 text-center text-white">Copyright &copy; Smart Ponit 2019 Design By SM - Group.</p>
        </div>
        <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script type="text/javascript" src="js/jquery-1.4.2.min.js"></script>
    
</body>

</html>